@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
    color: cyan;
}

.anime-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/originals/80/3d/63/803d63fe21e9cfb272bd2c7a48fa42dc.gif")
        center/cover no-repeat;
    filter: brightness(0.4) blur(3px);
    z-index: -1;
}

.container {
    text-align: center;
    padding-top: 120px;
}

.title {
    font-size: 42px;
    text-shadow: 0 0 20px cyan;
}

.sub {
    color: white;
    margin-top: -10px;
}

.form-box {
    background: rgba(0,0,0,0.5);
    width: 80%;
    max-width: 420px;
    margin: 30px auto;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 20px cyan;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: rgba(0,0,0,0.8);
    color: cyan;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px cyan;
}

button {
    width: 90%;
    padding: 15px;
    background: cyan;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 25px cyan;
}

#qrImage {
    width: 250px;
    height: 250px;
    border: 3px solid cyan;
    box-shadow: 0 0 25px cyan;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.loading {
    font-size: 22px;
    margin-top: 25px;
    text-shadow: 0 0 20px cyan;
}